GW3/GWLogger/Connected Services/Inventory.Controller/DirectCommands.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://inventory.psi.ch/manage/DirectCommands.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://inventory.psi.ch/manage/DirectCommands.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://inventory.psi.ch/manage/DirectCommands.asmx">
      <s:element name="SendEpicsCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="config" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="slave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEpicsCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEpicsCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEpicsCommandSoapIn">
    <wsdl:part name="parameters" element="tns:SendEpicsCommand" />
  </wsdl:message>
  <wsdl:message name="SendEpicsCommandSoapOut">
    <wsdl:part name="parameters" element="tns:SendEpicsCommandResponse" />
  </wsdl:message>
  <wsdl:message name="SendEpicsCommandHttpGetIn">
    <wsdl:part name="config" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="slave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEpicsCommandHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendEpicsCommandHttpPostIn">
    <wsdl:part name="config" type="s:string" />
    <wsdl:part name="channel" type="s:string" />
    <wsdl:part name="slave" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendEpicsCommandHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DirectCommandsSoap">
    <wsdl:operation name="SendEpicsCommand">
      <wsdl:input message="tns:SendEpicsCommandSoapIn" />
      <wsdl:output message="tns:SendEpicsCommandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DirectCommandsHttpGet">
    <wsdl:operation name="SendEpicsCommand">
      <wsdl:input message="tns:SendEpicsCommandHttpGetIn" />
      <wsdl:output message="tns:SendEpicsCommandHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DirectCommandsHttpPost">
    <wsdl:operation name="SendEpicsCommand">
      <wsdl:input message="tns:SendEpicsCommandHttpPostIn" />
      <wsdl:output message="tns:SendEpicsCommandHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DirectCommandsSoap" type="tns:DirectCommandsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEpicsCommand">
      <soap:operation soapAction="https://inventory.psi.ch/manage/DirectCommands.asmx/SendEpicsCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DirectCommandsSoap12" type="tns:DirectCommandsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEpicsCommand">
      <soap12:operation soapAction="https://inventory.psi.ch/manage/DirectCommands.asmx/SendEpicsCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DirectCommandsHttpGet" type="tns:DirectCommandsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendEpicsCommand">
      <http:operation location="/SendEpicsCommand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DirectCommandsHttpPost" type="tns:DirectCommandsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendEpicsCommand">
      <http:operation location="/SendEpicsCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DirectCommands">
    <wsdl:port name="DirectCommandsSoap" binding="tns:DirectCommandsSoap">
      <soap:address location="http://inventory.psi.ch/manage/DirectCommands.asmx" />
    </wsdl:port>
    <wsdl:port name="DirectCommandsSoap12" binding="tns:DirectCommandsSoap12">
      <soap12:address location="http://inventory.psi.ch/manage/DirectCommands.asmx" />
    </wsdl:port>
    <wsdl:port name="DirectCommandsHttpGet" binding="tns:DirectCommandsHttpGet">
      <http:address location="http://inventory.psi.ch/manage/DirectCommands.asmx" />
    </wsdl:port>
    <wsdl:port name="DirectCommandsHttpPost" binding="tns:DirectCommandsHttpPost">
      <http:address location="http://inventory.psi.ch/manage/DirectCommands.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>